/* Override bootstrap button styles */
.btn {
    border-radius: 10px;
}

.btn-primary {
    background-color: royalblue;
    border-color: royalblue;
}

.btn-primary:hover {
    background-color: royalblue;
    border-color: royalblue;
}

.btn-outline-primary {
    color: royalblue;
    border-color: royalblue;
}

.btn-outline-primary:hover {
    background-color: initial;
    color: royalblue;
    border-color: royalblue;
}

.btn-success {
    background-color: seagreen;
    border-color: seagreen;
}

.btn-success:hover {
    background-color: seagreen;
    border-color: seagreen;
}

.btn-danger {
    background-color: firebrick;
    border-color: firebrick;
}

.btn-danger:hover {
    background-color: firebrick;
    border-color: firebrick;
}

/* Override bootstrap alert style */
.alert {
    border: none;
    border-radius: 10px;
}

/** Code mirror */
.CodeMirror * {
    color: unset;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

.robi-code-background {
    background: #292D3E;
}

.loading-file {
    font-family: 'Inconsolata', monospace;    
}

.file-title {
    background-color: #292D3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #676E95;
    padding-top: 1rem;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    z-index: 100;
    position: sticky;
    top: 0px;
}

.file-title * {
    font-family: 'Inconsolata', monospace; 
    font-size: 14px;
    color: white;
}

.file-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: .75rem;
}

.file-icon {
    font-size: 16px;
}

.file-icon-css {
    fill: dodgerblue !important;
}

.file-icon-html {
    fill: dodgerblue !important;
}

.file-icon-js {
    fill: #F7DF1E !important;
}

/* Add padding to all modals */
/* .modal-content {
    padding: 30px;
} */

/* Intl Tel Input */
.iti__flag {background-image: url('./Images/flags.png');}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url('./Images/flags@2x.png');}
}

/* Install Console */
.console {
    width: 100%;
    height: 100%;
    overflow: overlay;
    background: #1E1E1E;
}

.console * {
    color: #CCCCCC !important;
}

.console-title {
    font-family: 'M PLUS Rounded 1c', sans-serif; /* FIXME: experimental */
}

.line-number {
    display: inline-block;
    font-weight: 600;
    width: 30px;
}

.install-modal {
    padding: 60px;
}

.install-alert {
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background: #1E1E1E;
    color: white !important;
    animation: fade-in-bottom 200ms ease-in-out forwards;
};

.install-alert * {
    color: white !important;
};

@keyframes fade-alert {
    0% {
        bottom: -10px;
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        bottom: 10px;
        transform: scale(1);
        opacity: 1;
    }
}

/* Dialog boxes */
.dialog-box {
    animation: dialog-fade 200ms ease-in-out forwards;
}

@keyframes dialog-fade {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
