/* Override bootstrap primary button style */
.btn-primary {
    background-color: royalblue;
    border-color: royalblue;
}

.btn-primary:hover {
    background-color: royalblue;
    border-color: royalblue;
}
